.layout-dashboard {
  padding-top: 25px;
}

.header-electron {
  position: fixed;
  z-index: 100000;
  top: 0;

  .container-title {
    display: flex;

    height: 25px;
    align-items: center;
    background-color: rgba(#111,1);
    width: 100vw;

    h1 {
      margin: 0;
      padding: 0;
      font-size: 12px;
      font-weight: 700;
      color: $text-color-white;
      margin-left: 10px;

      text-transform: uppercase;
    }
  }

  // colors de los botones de la ventana de linux
  .container-btns {
    button {
      background-color: $color-primary;
      border: none;
      /* padding: 10px;
      margin: 0 5px; */
      width: 12px;
      height: 12px;
      border-radius: 50px;
      cursor: pointer;
      transition: all 0.3s;
      outline: none;
      position: fixed;
      top: 7px;

      &:hover {
        background-color: $color-quaternary;
      }

      &:nth-child(1) {
        right: 45px;
        background-color: #4aff59;
      }

      &:nth-child(2) {
        right: 30px;
        background-color: #ffbd4a;
      }

      &:nth-child(3) {
        right: 15px;
        background-color: #ff5f5f;
      }
    }
  }
}
